﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Raidix Test Task</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="app/css/style.css" />
</head>
<body>
    <div class="row">
        <div class="page-header col-sm-offset-4 col-sm-4">
            <h1>Raidix Test Task</h1>
        </div>
    </div>
    <div class="container" id="app">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <table class="table table-striped">
                   <thead> 
                       <tr> 
                           <th>Name</th>
                           <th>Date</th>
                           <th>Days</th>
                           <th>Mission</th>
                           <th>IsMultiple</th>
                           <th></th>
                       </tr> 
                   </thead> 
                   <tbody id="tbody"> 
                    </tbody> 
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <table class="table table-striped">
                 <thead> 
                     <tr> 
                         <th>Name</th>
                         <th>Date</th>
                         <th>Days</th>
                         <th>Mission</th>
                         <th>IsMultiple</th>
                     </tr> 
                 </thead> 
                 <tbody id="new-row">
                     <td><input class="edit edit-name" type="text" /></td> 
                     <td><input class="edit edit-date datepicker" type="text"/></td> 
                     <td><input class="edit edit-days" type="text" /></td> 
                     <td><input class="edit edit-mission" type="text" /></td> 
                     <td><input class="edit edit-ismultiple" type="checkbox" /></td> 
                 </tbody> 
             </table>
         </div>
         <div class="col-sm-2">
            <button id="add-new-row" type="button" class="btn btn-default">Add new</button>
         </div>
     </div>
    </div>

    <script type="text/template" id="row-template">
        <td><span class="read"><%= name %></span><input class="edit edit-name" type="text" value="<%= name %>" /></td> 
        <td><span class="read"><%= dateFormated %></span><input class="edit edit-date datepicker" type="text"/></td>
        <td><span class="read"><%= days %></span><input class="edit edit-days" type="text" value="<%= days %>" /></td> 
        <td><span class="read"><%= mission %></span><input class="edit edit-mission" type="text" value="<%= mission %>" /></td> 
        <td><span class="read"><%= isMultiple ? 'yes' : 'no' %></span><input class="edit edit-ismultiple" type="checkbox" value="<%= isMultiple %>" <%= isMultiple ? 'checked' : '' %>/></td>
        <td class="actions-column"><span class="actions"><i class="edit fa fa-check" aria-hidden="true"></i><i class="read fa fa-edit"></i><i class="read fa fa-times" aria-hidden="true"></i></span></td>
    </script>

    <script src="data/json-example.js"></script>
    <script src="app/js/main-ck.js"></script>
    <script>
        $(function() {
            $('.datepicker').datepicker();
        });
    </script>
</body>
</html>
