.page-header {
    text-align: center;
}

input[type = "text"]{
    width: 100%;
}

#add-new-row{
    margin-top: 40px;
}

.table{
    th{
        width: 20%;
        
    }
}

#tbody tr {

    .toggle, .destroy {
        margin-top: 4px;
        display: block;
    }

    a {
        cursor: pointer;
    }

    .align-right {
        text-align: right;
    }

    .actions-column{
        .fa{
            cursor: pointer;
        }
    }

    &:hover {
        .destroy, .actions  {
            opacity: 1;
        }
    }

    .actions {
        opacity: 0;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    .destroy {
        opacity: 0;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        -webkit-transition: all .5s;
        transition: all .5s;
    }

    &.editing {
        .read {
            display: none;
        }

        .edit {
            display: block;
        }
    }

    .edit {
        display: none;
        height: 26px;
    }

    .list-group-item-text {
        padding: 4px 2px;
        -ms-word-wrap: break-word;
        word-wrap: break-word;

        &.cheked {
            color: #ccc;
            text-decoration: line-through;
        }
    }
}
